<input type="text" placeholder="Search" id="search">

<div class="parent">

<div class="item ">
  <div>
    <p>Butter Cheese Garlic Momos</p>
  </div>
  <div>
      <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
  </div>
  <div>
      <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
  </div>

  <div>
      <p>Rupees 49 : 4 pieces</p>
      <p>Rupees 99 : 8 pieces</p>
  </div>

</div>


<div class="item ">
    <div>
      <p>Butter Cheese Garlic Momos</p>
    </div>
    <div>
        <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
    </div>
    <div>
        <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
    </div>
  
    <div>
        <p>Rupees 49 : 4 pieces</p>
        <p>Rupees 99 : 8 pieces</p>
    </div>
  
  </div>




  <div class="item ">
      <div>
        <p>Butter Cheese Garlic Momos</p>
      </div>
      <div>
          <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
      </div>
      <div>
          <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
      </div>
    
      <div>
          <p>Rupees 49 : 4 pieces</p>
          <p>Rupees 99 : 8 pieces</p>
      </div>
    
    </div>



    <div class="item ">
        <div>
          <p>Butter Cheese Garlic Momos</p>
        </div>
        <div>
            <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
        </div>
        <div>
            <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
        </div>
      
        <div>
            <p>Rupees 49 : 4 pieces</p>
            <p>Rupees 99 : 8 pieces</p>
        </div>
      
      </div>



      <div class="item ">
          <div>
            <p>Butter Cheese Garlic Momos</p>
          </div>
          <div>
              <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
          </div>
          <div>
              <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
          </div>
        
          <div>
              <p>Rupees 49 : 4 pieces</p>
              <p>Rupees 99 : 8 pieces</p>
          </div>
        
        </div>


        <div class="item ">
            <div>
              <p>Butter Cheese Garlic Momos</p>
            </div>
            <div>
                <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
            </div>
            <div>
                <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
            </div>
          
            <div>
                <p>Rupees 49 : 4 pieces</p>
                <p>Rupees 99 : 8 pieces</p>
            </div>
          
          </div>


          <div class="item ">
              <div>
                <p>Butter Cheese Garlic Momos</p>
              </div>
              <div>
                  <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
              </div>
              <div>
                  <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
              </div>
            
              <div>
                  <p>Rupees 49 : 4 pieces</p>
                  <p>Rupees 99 : 8 pieces</p>
              </div>
            
            </div>



            <div class="item ">
                <div>
                  <p>Butter Cheese Garlic Momos</p>
                </div>
                <div>
                    <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
                </div>
                <div>
                    <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
                </div>
              
                <div>
                    <p>Rupees 49 : 4 pieces</p>
                    <p>Rupees 99 : 8 pieces</p>
                </div>
              
              </div>

              <div class="item ">
                  <div>
                    <p>Butter Cheese Garlic Momos</p>
                  </div>
                  <div>
                      <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
                  </div>
                  <div>
                      <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
                  </div>
                
                  <div>
                      <p>Rupees 49 : 4 pieces</p>
                      <p>Rupees 99 : 8 pieces</p>
                  </div>
                
                </div>


                <div class="item ">
                    <div>
                      <p>Butter Cheese Garlic Momos</p>
                    </div>
                    <div>
                        <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
                    </div>
                    <div>
                        <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
                    </div>
                  
                    <div>
                        <p>Rupees 49 : 4 pieces</p>
                        <p>Rupees 99 : 8 pieces</p>
                    </div>
                  
                  </div>


                  <div class="item ">
                      <div>
                        <p>Butter Cheese Garlic Momos</p>
                      </div>
                      <div>
                          <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
                      </div>
                      <div>
                          <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
                      </div>
                    
                      <div>
                          <p>Rupees 49 : 4 pieces</p>
                          <p>Rupees 99 : 8 pieces</p>
                      </div>
                    
                    </div>


                    <div class="item ">
                        <div>
                          <p>Butter Cheese Garlic Momos</p>
                        </div>
                        <div>
                            <img height="200" width="240" src="/assets/images/buttergarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
                        </div>
                        <div>
                            <p>Pan fried momos with butter & garlic  with cheese, oregano and chili flake toppings</p>
                        </div>
                      
                        <div>
                            <p>Rupees 49 : 4 pieces</p>
                            <p>Rupees 99 : 8 pieces</p>
                        </div>
                      
                      </div>
</div>


