<div class="container">
<div class="contactUs">
    <img src="/assets/images/contactus.png" height="40px" width="60px" alt="contactus pic"> &nbsp;&nbsp;
    <p class="contact_number">9692275222 , </p>
    <p class="contact_number"> 7263859824</p>
</div>
  
<nav>
    <div class="row">
      <div class="col-sm-12 text-center comidas_nav">
        <a href="/home">Home</a>
        <a routerLink="/menu">Menu</a>
        <a href="/assets/images/contactus.png" download>Download Menu</a>
        <a routerLink="/contactUs">Contact Us</a>
        <a href="/feedback">Feedback</a>
      </div>
    </div>
  </nav>

  <hr>

  </div>
<router-outlet></router-outlet>




