<div class="container">
<div class="contactUs">
    
</div>
  
<nav>
    <div class="row nav_row">
      <div class="col-sm-8 text-center comidas_nav">
        <a href="/home">Home</a>
        <a routerLink="/menu">Menu</a>
        <a href="/assets/images/contactus.png" download>Download Menu</a>
        <a routerLink="/contactUs">Contact Us</a>
        <a href="/feedback">Feedback</a>
      </div>
      <div class="col-sm-4 contact_number">
          <img src="/assets/images/contactus.png" height="40px" width="60px" alt="contactus pic"> &nbsp;&nbsp;
          <p class="contact_number">9692275222 , 7263859824 </p>
      </div>
    </div>
  </nav>

  <hr>

  </div>
<router-outlet></router-outlet>




