a {
    text-decoration: none;
    padding:10px;
}
.nav_row {
    padding:10px;
}
.contact_number
{
    display:flex;
    color:#9F0102;
    padding-top: 10px;
}
.comidas_nav
{
    margin-top:20px;

}
.comidas_nav a:hover {
    background:#ffffff;
}
hr{
    border: 1px solid white;
}