<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <figure>
                <img height="200" width="240" src="/assets/images/buttercheesegarlicmomos.jpg" alt="Photo of a Butter Garlic Momos">
                <figcaption>Pan fried momos with butter & garlic  with cheese, oregano and chili flakes topping.</figcaption>
            </figure>
        </div>
        <div class="col-lg-4  text-center">
                <figure>
                        <img height="200" width="240" src="/assets/images/chicken65.jpg" alt="Photo of a Butter Garlic Momos">
                        <figcaption>Crispy chicken in authentic chinese sauce.</figcaption>
                </figure>
        </div>
        <div class="col-lg-4  text-center">
                <figure>
                        <img height="200" width="240" src="/assets/images/momos65.jpg" alt="Photo of a Butter Garlic Momos">
                        <figcaption>Momos served with authentic chinese sauce.</figcaption>
                 </figure>
        </div>
    </div>


    <div class="row">
            <div class="col-lg-4 text-center">
                <figure>
                    <img height="200" width="240" src="/assets/images/lemonfriedchicken.jpg" alt="Photo of a Butter Garlic Momos">
                    <figcaption>Crispy fried chicken with lemon zest and chili flakes.</figcaption>
                </figure>
            </div>
            <div class="col-lg-4  text-center">
                    <figure>
                            <img height="200" width="240" src="/assets/images/honeychilimanchurian.jpg" alt="Photo of a Butter Garlic Momos">
                            <figcaption>Crispy chicken in authentic chinese sauce.</figcaption>
                    </figure>
            </div>
            <div class="col-lg-4  text-center">
                    <figure>
                            <img height="200" width="240" src="/assets/images/paneerpoppers.jpg" alt="Photo of a Butter Garlic Momos">
                            <figcaption>Momos served with authentic chinese sauce.</figcaption>
                     </figure>
            </div>
        </div>
</div>








