<div class="container">
<div class="row">
  <div class="col-lg-5 text-center">
    <p>Follow us on :</p>
    <br>
      <div class="div_facebook">
        <a href="https://www.facebook.com/Comidas_magarpatta/" target="_blank"><button class="btn btn-primary btn-block" >
          <i class="fa fa-facebook"></i>
        </button>
        </a>
      </div>
      <br>
      <div class="div_instagram">
          <a href="https://www.instagram.com/comidas_magarpatta/" target="_blank">
            <button class="btn btn-danger btn-block" ><i class="fa fa-instagram"></i></button>
            </a>
      </div>
      <br>
      <div class="div_location">
        <a href="https://www.google.co.in/maps/place/DC+Rd,+Magarpatta+City,+Hadapsar,+Pune,+Maharashtra+411028/@18.5094662,73.9278616,20.54z/data=!4m5!3m4!1s0x3bc2c18c9430278f:0x1b724e57a7e03215!8m2!3d18.512409!4d73.9288357" target="_blank">
          <figure>
            <img src="/assets/images/location.jpg" width="200" height="200">
            <figcaption>Shop No. - 25, Destination Centre, Pune</figcaption>
          </figure>
        </a>
      </div>
  </div>
  <div class="vl col-lg-1"></div>
  <div class="col-lg-6 text-center">
      <form>
          <input type="text" class="form-control" placeholder="Name" >
          <br>
          <input type="email" class="form-control" placeholder="Email">
          <br>
          <textarea placeholder="Enter your message" rows="10" class="form-control"></textarea>
          <br>
          <input type="submit" class="btn btn-danger">

        </form>
  </div>
</div>
</div>