<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 text-center">
      <form>
          <div class="btn-group">
              <button type="button" class="btn btn-secondary"><i class="fa fa-instagram"></i></button>
              <button type="button" class="btn btn-secondary"><i class="fa fa-facebook"></i></button>
              <button type="button" class="btn btn-secondary"><i class="fa fa-zomato"></i></button>
          </div>
          <input type="text" class="form-control" placeholder="Name" >
          <input type="text" class="form-control" placeholder="Email">
          <textarea placeholder="Enter your message" class="form-control"></textarea>
      </form>
  </div>
  <div class="col-lg-4"></div>
</div>
