.contactUs
{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.contact_number
{
    display:flex;
    flex-direction: column;
    color:#9F0102;
}
.comidas_button
{
   padding: 15px 32px;
   text-align: center;  
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   background-color:#9F0102; 
   color: black; 
   border-top: 2px solid #CC2200;
   border-bottom: 2px solid #CC2200;
   border-left:none;
   border-right:none;
   font-weight: 600;
   animation: animateButton 4s;
   animation-fill-mode: forwards;
    
}

 @keyframes animateButton {
        from{
            width: 200px;
            letter-spacing: 0rem;
        }
        to{
            width:300px;
            letter-spacing: 0.1rem;
        }
        
    }
.title 
{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
    letter-spacing: 1px;
    
}

h1 {
	background-image: url(http://bestanimations.com/Nature/Fire/lava-fire-animated-gif.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 120px;
    margin: 10px 0;
    font-family:comidasFont;
}
@font-face {
    font-family: comidasFont;
    src: url('/assets/fonts/actionj.ttf');
}
 h2
 {
    color: #9F0102;
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 5s steps(30 ),
      blink-caret .5s step-end;
  }
  
  @keyframes typing {
    from { width: 0;
        border-right: .15em solid #9F0102; }

    to { 
        width: 70%;
        border-right:transparent; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: #9F0102; }
    50% { border-color: #9F0102 }
  }